@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&family=Hammersmith+One&family=Libre+Franklin:wght@500&family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html, body{
  margin: 0;
}

nav{
  display: block;
  background-color: #cee5d0;
  padding: 12px;

}

nav a{
  color: #ad3a3c;
  font-family: 'Noto Serif', serif;
  font-size: 28px;
  text-decoration: none;

}

.basic img{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 500px;

}

.basic{
  position: relative;
}

.basic p{
  position: absolute;
    bottom: 232px;
    left: 159px;
    top: 217px;
    background-color: #cee5d09c;
    color: #ad3a3c; /* #ca8a8b;*/
    text-align: center;
    text-transform: uppercase;
    padding: 26px 50px 131px 50px;
    font-family: 'Noto Serif', serif;
    font-size: 45px;

}

.paragraph h2{
text-align: center;
font-size: 55px;
color: black;
font-family: 'Noto Serif', serif;
color: #ad3a3c;
}

.paragraph p{
  text-align: center;
  color: #ca8a8b;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

.images h4{
  text-align: center;
  color: #ad3a3c;
  font-size: 35px;
  background-color: #cee5d09c;
  padding: 10px 15px 10px 15px;
  margin-left: 500px;
  margin-right: 500px;

}


.kids-course li{
  display: inline-block;
  padding: 20px;
  margin: 10px;
}

.kids-course #img1{
  margin-left: 15px;
  text-decoration: none;
}

.kids-course #img1 h3{
  text-align: center;
  color: #ad3a3c;
  font-family: 'Oswald', sans-serif;
}

.kids-course #img2{
  text-decoration: none;
}

.kids-course #img2 h3{
  text-align: center;
  color: #ad3a3c;
  font-family: 'Oswald', sans-serif;
}

.kids-course #img3{
  text-decoration: none;
}

.kids-course #img3 h3{
  text-align: center;
  color: #ad3a3c;
  font-family: 'Oswald', sans-serif;
}
